/******************************************tag selectors*************************************************/

td{
    text-align: left;
}

/********************************************class selectors*****************************************/
.Strawberries{
    border-radius: 20%;
    height: 20%;
    width: 20%;
    
}
.blueberries{
   
    height: 10%;
    width: 10%;
}
.circular{
        border-radius: 20%;
}

/*********************************************ID selectors**********************************************/

#headding{
    color: powderblue;
}
